# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# IDE's
*.iml
/.idea/
/.history/
/.vscode/
/Core/ExtLib/.Ace3.*

# Visual Source Code Test Deployment
/.deploy

# BigWigMods/packager
/.build
/.release/
/_Interface/
/ActionbarPlus/Core/ExtLib/*
/ActionbarPlus/Core/ExtLib/WoWAce/*

!/ActionbarPlus/Core/ExtLib/pprint/
!/ActionbarPlus/Core/ExtLib/_ExtLib.xml
!/ActionbarPlus/Core/ExtLib/_WowAce.xml
!/ActionbarPlus/Core/ExtLib/_ExtLib.lua
!/ActionbarPlus/Core/ExtLib/ExtLib.lua

# Ignore Saved Variables folder with symlinks
/_SV

